html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: rebeccapurple;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.main {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(107,104,167,1) 0%, rgba(255,136,249,1) 44%, rgba(5,89,174,1) 82%, rgba(0,130,156,1) 100%);
    padding: 30px;
    height: 30vh;
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.main a {
    text-decoration: none;
    color: #000c4f;
}

.main a:hover {
    text-decoration: underline;
}

#subscription-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

#subscription-form > button {
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
    background: rgb(49,113,41);
    background: linear-gradient(90deg, rgba(49,113,41,1) 0%, rgba(143,255,136,1) 44%, rgba(0,130,156,1) 100%);
    color: #020202;
}

@media (max-width: 768px) {
    #subscription-form > button {
        width: 100%;
    }

    .main {
        padding-top: 60px;
    }
}

#tfEventUrl {
    width: 100%;
    padding: 5px;
}

#subscriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.subscription {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background: rgba(127, 255, 212, 0.61);
    padding: 1rem;
    border-radius: 3px;
    border: 2px solid #000041;
    gap: 10px;
}

.subscription > .name {
    font-size: 1.5rem;
}

.subscription > button {
    background: #f58383;
}

#notification {
    height: 2rem;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 0.5rem;
}

.error {
    color: #ffffff;
    background: #860a0a;
}

.success {
    color: #ffffff;
    background: #0a860a;
}
